parameters:
    kunstmaan_admin.apply_acl_changeset.listener.class: 'Kunstmaan\AdminBundle\EventListener\ApplyAclChangesetListener'

services:

    Kunstmaan_admin.menu_renderer:
        class: Knp\Menu\Renderer\TwigRenderer
        arguments:
            - "@twig"
            - "%knp_menu.renderer.twig.template%"
            - "@knp_menu.matcher"
            - { currentClass: 'active', ancestorClass: 'active' }
        tags:
            - { name: knp_menu.renderer, alias: bootstrap }

    kunstmaan_admin.menufactory:
        class: Kunstmaan\AdminBundle\Helper\Menu\MenuFactory
        arguments: ["@router", "@event_dispatcher"]

    kunstmaan_admin.menubuilder:
        class: Kunstmaan\AdminBundle\Helper\Menu\MenuBuilder
        arguments: ["@kunstmaan_admin.menufactory", "@event_dispatcher"]

    kunstmaan_admin.menu.menu:
        class: Kunstmaan\AdminBundle\Helper\Menu\MenuItem
        factory_service: kunstmaan_admin.menubuilder
        factory_method: createMenu
        scope: request
        tags:
            - { name: knp_menu.menu, alias: menu } # The alias is what is used to retrieve the menu

    kunstmaan_admin.configure_menu_children_listener:
        class: Kunstmaan\AdminBundle\EventListener\ConfigureMenuChildrenListener
        arguments: ["@request", "@doctrine.orm.entity_manager"]
        scope: request
        tags:
            - { name: 'kernel.event_listener', event: 'kunstmaan_admin.configureMenuChildren', method: 'onMenuChildrenConfigure' }

    kunstmaan_admin.menu.twig.extension:
        class: Kunstmaan\AdminBundle\Twig\MenuTwigExtension
        arguments : ["@knp_menu.matcher"]
        tags:
            -  { name: 'twig.extension' }

    kunstmaan_admin.login.listener:
        class: Kunstmaan\AdminBundle\EventListener\LoginListener
        arguments: ["@security.context", "@doctrine.orm.entity_manager", "@kunstmaan_admin.logger"]
        tags:
            - { name: 'kernel.event_listener', event: 'security.interactive_login' }

    kunstmaan_admin.localeswitcher.twig.extension:
        class: Kunstmaan\AdminBundle\Twig\LocaleSwitcherTwigExtension
        tags:
            -  { name: 'twig.extension' }

    kunstmaan_admin.locale.twig.extension:
        class: Kunstmaan\AdminBundle\Twig\DateByLocaleExtension
        tags:
            - { name: 'twig.extension' }

    kunstmaan_admin.formtools.twig.extension:
        class: Kunstmaan\AdminBundle\Twig\FormToolsExtension
        arguments: ["@kunstmaan_admin.form.helper"]
        tags:
            - { name: 'twig.extension' }
 
    kunstmaan_admin.permissions.twig.extension:
        class: Kunstmaan\AdminBundle\Twig\AdminPermissionsTwigExtension
        tags:
            -  { name: 'twig.extension' }

    kunstmaan_admin.acl.helper:
        class: Kunstmaan\AdminBundle\Helper\Security\Acl\AclHelper
        arguments: ["@doctrine.orm.entity_manager", "@security.context"]

    kunstmaan_admin.acl.native.helper:
        class: Kunstmaan\AdminBundle\Helper\Security\Acl\AclNativeHelper
        arguments: ["@doctrine.orm.entity_manager", "@security.context"]

    kunstmaan_admin.guest.security.authentication.listener:
        class: Kunstmaan\AdminBundle\Helper\Security\Http\Firewall\GuestUserListener
        arguments: ["@security.context", "user_provider", "provider_key"]
        
    kunstmaan_admin.permissionadmin:
        class: Kunstmaan\AdminBundle\Helper\Security\Acl\Permission\PermissionAdmin
        arguments: ["@doctrine.orm.entity_manager", "@security.context", "@security.acl.provider", "@security.acl.object_identity_retrieval_strategy", "@event_dispatcher", "@kunstmaan_utilities.shell", "@kernel"]

    kunstmaan_admin.clone.helper:
        class: Kunstmaan\AdminBundle\Helper\CloneHelper
        arguments: ["@doctrine.orm.entity_manager", "@event_dispatcher"]

    kunstmaan_admin.clone.listener:
        class: Kunstmaan\AdminBundle\EventListener\CloneListener
        tags:
            - { name: kernel.event_listener, event: kunstmaan_admin.onDeepCloneAndSave, method: onDeepCloneAndSave }

    kunstmaan_admin.logger.processor.user:
        class: Kunstmaan\AdminBundle\Helper\UserProcessor
        arguments: [ @service_container ]
        tags:
            - { name: monolog.processor, method: processRecord }
            - { name: kunstmaan_admin.logger.processor, method: processRecord }

    kunstmaan_admin.logger.handler:
        class: Monolog\Handler\RotatingFileHandler
        arguments: [%kernel.logs_dir%/kunstmaan_%kernel.environment%.log, 10]

    kunstmaan_admin.logger:
        class: Symfony\Bridge\Monolog\Logger
        arguments: [kunstmaan]
        calls:
            - [pushHandler, [@kunstmaan_admin.logger.handler]]

    kunstmaan_admin.form.helper:
        class: Kunstmaan\AdminBundle\Helper\FormHelper
