<aside class="sidebar">
    <div class="search_wrp">
        <form id="treeform">
            <input type="text" id="searchVal" value="" />
            <button id="search" class="btn search"><i class="icon-search"></i></button>
        </form>
    </div>
    <div class="tree clearfix">
        {{ knp_menu_render(menu, { 'template': 'KunstmaanAdminBundle:Menu:knp_menu_treemenu.html.twig'}, 'bootstrap') }}
    </div>
</aside>
