<aside class="sidebar">
    <div class="search_wrp">
        <form id="treeform">
            <input type="text" id="searchVal" value="" />
            <button id="search" class="btn search"><i class="icon-search"></i></button>
        </form>
    </div>
    <div class="tree clearfix">
        {% set topmenuitem = admin_menu_top(menu, 1) %}
        {% if topmenuitem %}
            {{ knp_menu_render([menu, topmenuitem.name], { 'template': 'KunstmaanAdminBundle:Menu:knp_menu_treemenu.html.twig'}, 'bootstrap') }}
        {% endif %}
    </div>
</aside>
